<article class="review">
  <p><strong>{{book.title}}</strong></p>
  <div class="title">
    <p>By: {{user.username}}</p>
    <p>On: {{format_date created}}</p>
    <p>Said: {{comment}}</p>
    <button type="submit" class="delete-review-btn" id="reviewSubmit" value={{user_id}}>Delete</button>
  </div>
</article>

<script src="/javascript/delete-review.js"></script>