<article class="review">
  <div class="title">
    <a href="{{bookId}}">{{title}} By: {{author}} </a>
  </div>
  {{!-- <div class="meta">
    <a href="/book/{{bookId}}">{{author}} </a>
  </div> --}}
</article>

