<article class="review">
  <div class="title">
<<<<<<< HEAD
    <a href="book/{{bookId}}">{{title}} By: {{author}} </a>
=======
    <a href="bookReview/{{book_id}}">{{title}} By: {{author}} </a>
>>>>>>> develop
  </div>
</article>

