<article class="review">
  <div class="title">
    <a href="{{review_url}}" target="_blank">{{title}}</a>
    <span>({{format_url review_url}})</span>
  </div>
  <div class="meta">
    <a href="/review/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>