<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-review-form">
    <div>
      <input name="review-title" type="text" value="{{review.title}}" />
      <span>({{format_url post.post_url}})</span>
    </div>
    <div>
      {{format_date review.created_at}}
      |
      <a href="/review/{{review.id}}">{{review.comments.length}} {{format_plural "comment" review.comments.length}}</a>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-review-btn">Delete Review</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments review.comments}}

<script src="/javascript/edit-review.js"></script>
<script src="/javascript/delete-review.js"></script>
<script src="/javascript/comment.js"></script>